<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Linkedin Gertner</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/js/vendors.css"/>
        <link rel="stylesheet" href="/public/js/bundle.css"/>
    </head>
    <body>
        {{{body}}}
        <script type="text/javascript" src="/public/js/vendors.js" charset="utf-8"></script>
        <script type="text/javascript" src="/public/js/bundle.js" charset="utf-8"></script>
    </body>
</html>